/* Google Inter Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

:root{
    /* Colors */
    --body-color:#f2f7ff;
    --sidebar-color:#ffffff;
    --sidebar-text-color:#707070;
    --sidebar-icon-color:#707070;
    --selection-text-color:#ffffff;
    --primary-color:#0d6efd;
    --card-main-bg: #ffffff;

    --card-main-border: 1px solid #eeeeee;
    --card-main-box-shadow: 0 0 0.875rem 0 rgb(41 48 66 / 5%);
    --card-main-border-radius: 5px ;
    --card-header-border: 1px solid #eeeeee;
    --card-header-padding: 10px 20px;
    --card-header-text-size: 16px;

    /* Transitions */
    --trans-02: all 0.2s ease;
    --trans-03: all 0.3s ease;
    --trans-04: all 0.4s ease;
    --trans-05: all 0.5s ease;

}

::selection {
    background-color: var(--primary-color);
    color:var(--selection-text-color);
}



body {
    background-color: var(--body-color);
    transition: var(--trans-05);
}

.sidebar {
    background-color: var(--sidebar-color);
    width: 250px;
    position: fixed;
    top:0;
    bottom: 0;
}

.sidebar ul.sidebar-nav li {
    list-style: none;
    font-size: 16px;
}

.sidebar ul.sidebar-nav li:hover {
    background-color: red;
}


.sidebar ul.sidebar-nav li a  {
    text-decoration: none;
    color: #666666;
}


.sidebar ul.sidebar-nav li.sidebar-nav-item a.sidebar-menu:hover i,
.sidebar ul.sidebar-nav li.sidebar-nav-item a.sidebar-menu:hover span {
    color: #ffffff;
}

/* .sidebar ul.sidebar-nav li a:hover .bx, .sidebar ul.sidebar-nav li a:hover .link_name {
	color:#ffffff;
} */

.sidebar ul.sidebar-nav li  a i  {
    color: #666666;
    font-size: 20px;
}

.sidebar ul.sidebar-nav li.sidebar-nav-item a span.link_name {
    font-size: 16px;
    text-decoration: none;
    color: #000000;
}


.main-section {
    position: relative;
    height: 100vh;
    left: 250px;
    width: calc(100% - 250px);

    padding-top: 75px;
}

.card-main {
    background-color: var(--card-main-bg);
    border:var(--card-main-border);
    border-radius: var(--card-main-border-radius);
    box-shadow: var(--card-main-box-shadow);
}

.card-header-main {
    background-color: var(--card-main-bg);
    border-bottom: var(--card-header-border);
    padding: var(--card-header-padding);
}


.card-header-main h4{
   margin: 0;
   font-size: var(--card-header-text-size);
}

.my-navbar {
    display: flex;
    justify-content: space-between;
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 250px);
    left: 250px;
    z-index: 100;
    padding: 10px 20px;
}



@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .main-section {
        left: 0;
        width: 100%;
    }

    .my-navbar {
        left: 0;
        width: 100%;
    }
}
