/* Google Inter Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

:root{
    /* Colors */
    --body-color:#f2f7ff;
    --sidebar-color:#ffffff;
    --sidebar-text-color:#707070;
    --sidebar-icon-color:#707070;
    --selection-text-color:#ffffff;
    --primary-color:#0d6efd;
    --card-main-bg: #ffffff;

    --card-main-border: 1px solid #eeeeee;
    --card-main-box-shadow: 0 0 0.875rem 0 rgb(41 48 66 / 5%);
    --card-main-border-radius: 5px ;
    --card-header-border: 1px solid #eeeeee;
    --card-header-padding: 10px 20px;
    --card-header-text-size: 16px;

    /* Transitions */
    --trans-02: all 0.2s ease;
    --trans-03: all 0.3s ease;
    --trans-04: all 0.4s ease;
    --trans-05: all 0.5s ease;

}


::selection {
    background-color: var(--primary-color);
    color:var(--selection-text-color);
}

/* Scrollbar Styling */
.sidebar::-webkit-scrollbar {
    width: 6px;
}
 
.sidebar::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.sidebar:hover::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #CACEDA; 
}



body {
    background-color: var(--body-color);
    transition: var(--trans-05);
}

.sidebar {
    background-color: var(--sidebar-color);
    width: 250px;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
  
}

.sidebar ul.sidebar-nav li {
    list-style: none;
    font-size: 16px;
}

.sidebar ul.sidebar-nav li a {
    text-decoration: none;
    color: #6d6b6b;
    display: block;
    padding: 10px 0;
    border-radius: 10px;
    transition: var(--trans-04);
    font-size: 15px;
    display: flex;
    align-items: center;
    font-weight: 500;
}
.sidebar ul.sidebar-nav li a:hover {
    color: #333333;
    background-color: #D3E3FD;
}
.sidebar ul.sidebar-nav li a i {
    min-width: 50px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar ul li.sidebar-title h4 {
    font-size: 12px;
    text-transform: uppercase;
    color: #959595;
    padding: 15px 0;
    font-weight: 600;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 10px;
}


.sidebar .brand-name {
    position: fixed;
    background:var(--primary-color);
    color: #ffffff;
    width: 250px;
    padding: 18px 0;
    top: 0;
}

.sidebar ul.sidebar-nav {
    margin-top: 60px;
}




/* Sidebar Sub-menu style */

.sidebar ul.sidebar-nav li ul.sidebar-sub-menu {
    padding: 0 0 0 50px;
    background-color: #e5ecf6;
    border-radius: 12px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.sidebar ul.sidebar-nav li ul.sidebar-sub-menu li a{
    transition: color 0.2s ease, background-color 0.2s ease, padding-left 0.2s ease;
}


.sidebar ul.sidebar-nav li ul.sidebar-sub-menu li a:hover{
    color: #000000;
    background-color: transparent;
    font-weight: 500;
    padding-left: 10px;
}



.main-section {
    position: relative;
    height: 100vh;
    left: 250px;
    width: calc(100% - 250px);
    padding: 80px 10px 0 10px;
}

.card-main {
    background-color: var(--card-main-bg);
    border:var(--card-main-border);
    border-radius: var(--card-main-border-radius);
    box-shadow: var(--card-main-box-shadow);
}

.card-header-main {
    background-color: var(--card-main-bg);
    border-bottom: var(--card-header-border);
    padding: var(--card-header-padding);
}


.card-header-main h4{
   margin: 0;
   font-size: var(--card-header-text-size);
}

.my-navbar {
    display: flex;
    justify-content: space-between;
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 250px);
    left: 250px;
    z-index: 100;
    padding: 10px 20px;
}


.navbar ul.navbar-nav li.nav-item a {
    padding: 8px 20px;
}

.navbar i {
    font-size: 25px;
    cursor: poniter;
}







@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .main-section {
        left: 0;
        width: 100%;
    }

    .my-navbar {
        left: 0;
        width: 100%;
    }
}
